{% extends "base.html" %}
{% block footer %}


<footer class="footer" >
    <div id="footer-top">
        <div class="container">
			<div class="row">
				<div class="col-sm-4">
                    <h4>Project Detail</h4>
                    <div id="footer-offer">
                        A few something about a project....
					</div>
				</div>
                <div class="col-sm-4">
                    <div id="footer-bottom">
                        <br/>
                        PROJECT-FALL-TON DUC THANG UNIVERSITY(2017-2018)
                        <br/>
                        Copyright &copy;2017-{% now 'Y' %}
                    </div>
                </div>

                <div class="col-sm-4">
                    <h4>Contact us</h4>
				<ul class="list-unstyled">
                    <li><i class="fa fa-fw fa-envelope"></i> duyhenry250897@gmail.com</li>
                    <li><i class="fa fa-fw fa-github"></i> Github Project</li>
                </ul>
				</div>
			</div>
		</div>
    </div>
</footer>
{% endblock footer %}
