{% extends "base.html" %}
{% load urlify %}
{#{% load crispy_forms_tags %}#}

    {% block head_title %}{{ instance.title }} | {{ block.super }}{% endblock head_title %}

{% block content %}

    <div class="col-sm-6 col-sm-offset-3">
    {% if instance.image %}
        <img src="{{ instance.image.url }}" class="img-thumbnail"/>
    {% endif %}
        <h4> {{ title }} <small>{{ instance.timestamp }}</small></h4>
        {% if instance.user.get_full_name %}
        <p>@{{ instance.user.get_full_name }}</p>
        {% endif %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <div class="container-fluid">
            <div class="row">
                <div class="sicon">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 text-center">
                        <div class="icon-circle">
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="ifacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 text-center">
                        <div class="icon-circle">
                            <a href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}" class="itwittter" title="Twitter"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 text-center">
                        <div class="icon-circle">
                            <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}" class="igoogle" title="Google+"><i class="fa fa-reddit"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 text-center">
                        <div class="icon-circle">
                            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ instance.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}" class="iLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    <br/>

{#        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">#}
{#             Facebook#}
{#        </a>#}
{##}
{#        <a href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}">#}
{#            Twitter#}
{#        </a>#}
{##}
{#        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ instance.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">#}
{#            Linkedin#}
{#        </a>#}
{##}
{#        <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}.">#}
{#            Reddit#}
{#        </a>#}


        {{ instance.content|linebreaks }}<br/>


        <div>
       <p class="container">Commment</p>
        <form method="POST" action="." > {% csrf_token %}
            {{ comment_form }}
{#            <br/>#}
            <input type="submit" value="create reply" class="btn btn-default">
            <br/>
        </form>

            <hr/>
            {% for comment in comments %}
                <blockquote>
                {{ comment.content_object }}
                <p> {{comment.content }}</p>
                <footer>via {{ comment.user}} | {{comment.timestamp|timesince }} ago</footer>
                </blockquote>
            {% endfor %}

        </div>
    </div>
{% endblock content %}